 
# Umgebungsdateien

logs/ 
# brauche einen zweiten für den container
# Oder nur bestimmte Dateien: config/local_*
# Python Bytecode / Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtuelle Umgebungen


# IDE-Dateien
.vs/
.vscode/
.idea/
*.code-workspace

# Systemdateien
.DS_Store
Thumbs.db

# Logs
*.log

# Sonstiges
*.sqlite3
